@model IEnumerable<Booking>

<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Booking completed successfully</h2>
        <p>*You can check ALL bookings in the Bookings index-view if you go Management -> All Bookings*</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>
