@model IEnumerable<Booking>

<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Booking completed successfully</h2>
        <p>*You can check ALL bookings by clicking the button below*</p>
        <hr />
        <p>Thank you!</p>
        <a asp-controller="Bookings" asp-action="Index" class="btn btn-outline-dark">All bookings</a>
    </div>
</div>
