html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: black;
    font-size: .75em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: White;
}

.moviepic {
    width: 200px; /* You can set the dimensions to whatever you want */
    height: 270px;
    object-fit: cover;
    padding: inherit;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
    transition: .2s;
}

.moviepic:hover {
    transform: scale(1.2);
}

th {
    color:white;
}
td {
    color:white;
}
