@model IEnumerable<BerrasBio.Models.Movie>

@{
    ViewData["Title"] = "Movies";
}
<link rel="stylesheet" href="~/BerrasBio.styles.css" asp-append-version="true" />

<h1>All Movies</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Create New</a>
    <br />
</p>
@foreach (var item in Model)
{
    <a asp-action="Details" asp-route-id="@item.Id">
        <img class="moviepic" src="@item.ImageURL" alt="@item.Name">
    </a>
}

